[all_linux:children]
bastion_linux
management_linux

[all_windows:children]
bastion_windows
management_windows

[bastion_linux]
${bastion_linux_servers}

[bastion_windows]
${bastion_windows_servers}

[management_linux:vars]
extra_packages='["bind-utils"]'

[management_linux]
${management_linux_servers}

[management_windows]
${management_windows_servers}