[all_linux:children]
$(stackid)deployer
$(stackid)jenkins

[all_webmethods:children]
$(stackid)deployer
$(stackid)jenkins

[profile_abe:children]
$(stackid)jenkins

[integration:children]
$(stackid)deployer

[$(stackid)jenkins]
${jenkins_servers}

[$(stackid)deployer]
${deployer_servers}